body {
    background-image: url(../images/Drainage.jpg);
}

body {
    color: blue;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: red;
    text-align: left;
}

#center {
    color: beige;
}

h3 {
    color: aqua;
    font-size: xx-large;
}

ol {
    color: black;
    font-size: x-large;
}